scripts/pl_ingest_olympic_files.json
{
    "name": "pipeline1",
    "properties": {
        "activities": [
            {
                "name": "For Each Tokyo Olympics File",
                "description": "Iteratively copies Olympics files from REST API to Azure Datalake Storage Gen2",
                "type": "ForEach",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.fileNames",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Copy Olympic File",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "HttpReadSettings",
                                        "requestMethod": "GET"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_src_github_tokyo_olympics",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "fileName": {
                                            "value": "@item()",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_dest_tokyo_olympics_to_adls_raw",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "folderName": {
                                            "value": "@item()",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Data Transformation",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "For Each Tokyo Olympics File",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Tokyo-Olympics/Tokyo Olympic Transformation"
                },
                "linkedServiceName": {
                    "referenceName": "ls_databricks_staging_workspace",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "fileNames": {
                "type": "array",
                "defaultValue": [
                    "Athletes",
                    "Coaches",
                    "EntriesGender",
                    "Medals",
                    "Teams"
                ]
            }
        },
        "variables": {
            "fileName": {
                "type": "String"
            }
        },
        "folder": {
            "name": "Tokyo Olympics"
        },
        "annotations": []
    }
}
